html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.continer-1 {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 150%;
    max-width: 980px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.box-1 {
    border-bottom: 1px solid #e1f1ff;
}

.box-2 {
    border-bottom: 1px solid #e1f1ff;
}

.img {
    margin-bottom: 25px;
    width: 250px;
    max-width: 100%;
}

.item-0 {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.box-1 {
    margin: 50px 0 25px;
    color: #016ff9;
    
}

.box-2 {
    margin: 50px 0 25px;
    color: #016ff9;
}

.box-3 {
    margin: 50px 0 25px;
    color: #016ff9;
}

.item-1,.item-2 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 4.5px;
    padding: 15px 0 15px 0;
    border-top: 1px solid  #e1f1ff;
}

.item-3 {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
    border-top: 1px solid  #e1f1ff;
}

.item-4 {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: backround-color 200ms ease-in-out;
}


.item-4:hover, .item-4:focus {
    background-color: #e1f1ff;
}

@media (min-width: 900px;) {
    .continer-1 {
        flex-direction: row;
    }
}