html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.continer-1 {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 70%;
    max-width: 1000px;
    justify-content: space-around;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    padding-right: 100px;
}

.continer-1 div {
    border-bottom: 1px solid #e1f1ff;      
    margin: 50px 0 25px;
    color: #016ff9;
    width: 300px;
}

.continer-1 .box-2 {
    margin: 0 30px 0 30px;
    border-right: 1px solid  #e1f1ff;
    border-left: 1px solid  #e1f1ff;
    margin: 37px 20px;
}

.img {
    margin-bottom: 25px;
    width: 230px;
    max-width: 100%;
}

.item-0 {
    color: #888;
    font-weight: 600;
    /* letter-spacing: 1px; */
}

.item-1,.item-2 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    /* line-height: 4.5px; */
    padding: 15px 0 15px 0;
    border-top: 1px solid  #e1f1ff;
    margin: 7px 30px 0 0;
}

.item-3 {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.item-4 {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: backround-color 200ms ease-in-out;
}

.item-4:hover, .item-4:focus {
    background-color: #e1f1ff;
}

@media (max-width: 900px) {
    .continer-1 {
        flex-direction: column;
        justify-content: center;
        border: none;
    }
    .box-2 {
        padding: 25px 50px;
    }
    .item-1 {
        margin-left: 30px;
        padding-left: 22px;
    }
}