body {
    margin: 0;
}

nav {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    background-color: #eee8e8;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 10px;
}

.text-1{
    padding-right: 850px;font-weight: 500;
    font-weight: 600;
}

.text-2{
    padding-right: 50px;
    font-weight: 600;
}
.text-3{
    padding-right: 50px;
}

.text-4{
    padding-right: 110px;
}

.text-5 {
    font-size: 44px;
}

.text-6 {
    color: rgb(46, 46, 46);
}

img {
    width: 1500px;
    height: 310px;
}

.first-img {
    position: relative;
    text-align: center;
}

.box-2 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 37%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-7 {
    padding: 12px 15px 8px 15px; 
    background-color: rgb(180, 42, 88);
    color: white;
    border: none;
    border-radius: 4px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 150;
    padding-top: 40px;
}

.card-img {
    width: 340px;
    height: 240PX;
    margin-right: 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
}

p {
    width: 290px;
    margin: auto;
}

.card-wrap{
    border: rgb(224, 217, 217) 2px solid;
    border-radius: 0 0 10px 10px;
    height: 215px;
    margin: auto;
}

.box-3 {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 400px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    grid-column-gap: 2.4em;
}

.prg-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    word-spacing: 2.3px;
    align-items: center;
    justify-content: center;
    padding: 2px 0 10px 0;
}

.prg-2 {
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2.8px;
    align-items: center;
    justify-content: center;
}

.box-4 {
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 100%; */
    margin-top: 127px;
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-btn {
    /*width: auto;*/ 
    display: grid;
    justify-content: center;
    align-self: center;
    /*background-color: #497185;*/
}

.btn {
    height: 31px;
    width: 128px;
    border: 2px solid rgb(206, 24, 145);
    border-radius: 4px;
    color: rgb(206, 24, 145);
    margin-top: auto;
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 238, 238);
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}