body {
    margin: 0;
}

nav {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    background-color: #eee8e8;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 10px;
}

.first-img {
    position: relative;
    text-align: center;
}
.text-1{
    padding-right: 850px;font-weight: 500;
    font-weight: 600;
}

.text-2{
    padding-right: 50px;
    font-weight: 600;
}
.text-3{
    padding-right: 50px;
}

.text-4{
    padding-right: 110px;
}

.text-5 {
    font-size: 44px;
}

.text-6 {
    color: rgb(46, 46, 46);
}

.text-7 {
    padding: 12px 15px 8px 15px; 
    background-color: rgb(180, 42, 88);
    color: white;
    border: none;
    border-radius: 4px;
}

img {
    width: 1500px;
    height: 310px;
}


.box-2 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 37%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 150;
    padding-top: 40px;
}

.box-3 {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 70%;
    display: flex;
    justify-content: center;
    font-weight: 100;
    grid-column-gap: 2.9em;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.card-img {
    width: 340px;
    height: 240PX;
    margin-right: 0;
    border-radius: 3px 3px 0 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
}

.card p {
    width: 290px;
    margin: auto;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-align: center;
} 
.btn {
    height: 31px;
    width: 128px;
    border: 2px solid rgb(206, 24, 145);
    border-radius: 4px;
    color: rgb(206, 24, 145);
    display: inline-block;
}

.card-wrap {
    border: solid 1px rgb(241, 241, 241);
}

.div-btn1 {
    /*width: auto;*/ 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    display: grid;
    place-items: center;
    height: 120px;
    bottom: -1em;
    background-color: #f1f1f1;
    height: 79px;
    border-radius: 0 0 3px 3px;
}
/* 
.card-wrap{
    border: rgb(224, 217, 217) 2px solid;
    border-radius: 0 0 10px 10px;
    height: 215px;
    margin: auto;
} */


.box-4 {
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 100%; */
    margin-top: 127px;
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prg-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    word-spacing: 2.3px;
    align-items: center;
    justify-content: center;
    padding: 2px 0 10px 0;
}

.prg-2 {
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2.8px;
    align-items: center;
    justify-content: center;
}




footer {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 238, 238);
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .card {
    height: 100%;
    display: flex;
}
.card-block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: rgb(224, 217, 217) 2px solid;
    border-radius: 0 0 10px 10px;
}
.card.div-btn1 {
    align-self: flex-start;
    justify-content: center;
    position: relative;
    bottom: -3em;
    background-color: #497185;
} 