body {
    margin: 0;
}

.nav-wbs {
    background-color: white;
    min-height: 7%;
    /* position: static; */
}

nav {
    align-items: center;
}

.nav-wbs .li-nav-2{
    margin-right: 20px;
    
}


.nav-wbs ul {
    list-style: none;
}

.li-nav-1 {
    font-family: 'Hind Madurai', sans-serif;
    color: rgb(189, 185, 185);
    font-size: 50px;
    display: inline;
    margin-left: 60px;
}


.li-nav-2 {
    padding-right: 30px;
}

.li-nav-2-div a:hover {
    color: rgb(241, 31, 31);
}

.li-nav-2-div a{
    text-decoration: none; 
    color: black;
}

.li-nav-2-div {
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    float: right;
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    /* padding-left: 0 90px 0 0; */
    /* margin: 0 20px 0 0; */
    font-size: 22px;
}

.box-1-img {
    width: 100%;
    height: auto;
}

.box-1 {
    background-image: url("https://wallpapercave.com/wp/wp2102296.jpg");
    height: 140%;
    background-size: 100% 100%;
    padding: 140px 0 2px 90px;
}
.btn-1:hover {
    background-color: rgb(212, 207, 207);
    /* color: #60943A; */
}

.btn-1 {
    font-family: 'Nunito Sans', sans-serif;
    width: 199px;
    height: 57px;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 900;
    color: rgb(18, 107, 250);
    margin-top: 28px;
    font-weight: 300;
}

.titel-1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 35px;
    margin-bottom: 0; 
    letter-spacing: 3px; 
    font-weight: 100;
}

.titel-2 {
    font-family: 'Changa One', cursive; 
    font-size: 107px; 
    letter-spacing: 7px;
    margin: 0;
}

.titel-3 {
    width: 499px; 
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-style: italic; 
    margin: 20px 0 0 0; 
    line-height: 30px;
}

.box-1-blog {
    width: 29%;
    /* opacity: 0.8; */
    background: #60943A;
    /* top: 10%;
    left: 9%; */
    /* position: relative; */
    background: rgba(18, 107, 250, 0.445);
    color: white;
    letter-spacing: 1.7px;
    padding: 220px  40px 220px 40px;
}

.box-2 {
    background-color: rgb(18, 204, 250);
    height: 430px;
    color: white;
    display: flex;
    /* align-items: center; */
    text-align: center;
    flex-direction: row;
    padding-top: 55px;
}

.box-2 div{
    padding: 26px;
}

.box-2-ul{
    text-align: left;
    width: 95%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.7px;

}
.titel-blog {
    font-family: 'Changa One', cursive; 
    font-size: 3.5rem; 
    letter-spacing: 1px; 
    /* border-bottom: white 4px solid; */
    width: 185px; 
    margin-left:159px;
    border-bottom: white 4px solid;
    padding-bottom: 35px;
}

.box-3 {
    height: 90%;
    display: block;
    min-height: 817px;
}

.box-3-thing {
    /* padding: 70px 0 10px 680px; */
    display: flex;
    flex-direction: row;
}


.box-3-thing img{
    width: 855px;
    height: 679px;  
}

.box-3-thing-blog {
    margin: 250px 0 0 0;
}
