body {
    background-color: rgb(0, 0, 0);
    color: rgb(197, 117, 12);
}
.box-1 {
    border: lightseagreen solid 7px;
    border-radius: 20px;
}
h1 {
    text-align: center;
    color: rgb(11, 255, 243);
    font-size: 44px;
    text-decoration: crimson underline;
}
h1:hover {
    color: rgb(219, 0, 0);
}
h1::selection {
    color: gold;
}
td  {
    padding: 5px;
}
td::selection{
    background-color: rgb(121, 10, 224);
}
th::selection {
    background-color: rgb(19, 10, 146);
}
p::selection {
    background-color: springgreen;
}
table {
    margin: auto;
    /* max-width: 60%; */
    background-color: black;
    border: teal solid 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.flex{
    display: flex;
    flex-direction: row-reverse;
}

.table-notes {
    color: rgb(0, 0, 0);
    background-color: orange;
    padding: 10px;
    margin: 33% 10px;
    border: 3px solid rgb(0, 174, 255);
    border-radius: 10px;
}
.box-4 {
   margin: auto;
   max-width: 60%;
}