body {
    background-color: rgb(3, 3, 8);
    color: rgb(197, 117, 12);
    
}
.box-1 {
    border: lightseagreen solid 7px;
    margin-bottom: 90px;
    border-radius: 20px;
}
h1 {
    text-align: center;
    color: rgb(11, 255, 243);
    font-size: 44px;
    text-decoration: crimson underline;
}
h1:hover {
    color: rgb(219, 0, 0);
}
h1::selection {
    color: gold;
}
td  {
    padding: 5px;
}
td::selection{
    background-color: rgb(224, 10, 10);
}
th::selection {
    background-color: rgb(19, 10, 146);
}
p::selection {
    background-color: springgreen;
}
table {
    margin: auto;
    /* max-width: 60%; */
    background-color: black;
    border: teal solid 5px;
    border-radius: 4px;
    margin-bottom: 50px;
}
.flex{
    display: flex;
    flex-direction: row-reverse;
}

.table-notes {
    color: rgb(0, 0, 0);
    background-color: orange;
    padding: 10px;
    margin: 33% 10px;
    border: 3px solid rgb(0, 174, 255);
    border-radius: 10px;
}
.box-4 {
   margin: auto;
   max-width: 60%;
}
.sea-table {
   width: 1050px;
    
}
form {
   padding: 50px;
   margin: auto;
   max-width: 25%;
   border: 5px solid rgb(197, 117, 12);
   border-radius: 10px;
   color: yellow;
   margin-bottom: 10px;
   /* width: 500px; */
}
input {
    color: rgb(39, 194, 25);
    background-color: black;
    border-color: rgb(0, 174, 255);
    border-radius: 8px;
}
button {
    border-color: rgb(197, 117, 12);
    border-radius: 30em;
}
input::selection {
    background-color: rgb(252, 0, 0);
}