body {
    background-color: rgb(12, 7, 14);
    letter-spacing: 1.4px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}


#testing {
    background-color: #0bf5a7;
    width: 50%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: ; */
    flex-wrap: wrap;
    flex-grow: 1;
}

/*-o */
div {
    color: chartreuse;
}

#testing div {
    width: 100px;
    height: 160px;
    text-align: center;
    flex-basis: 215px;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid rgb(136, 18, 18);
    height: 500px;
    display: flex;
}

main .section-1{
    background-color: #be1895;
    flex: 1;
}

main .section-2{
    background-color: #1831be;
    flex: 1;
}

main .section-3{
    background-color: #18be26;
    flex: 2;
}

p {
    color: rgb(11, 163, 201);
    letter-spacing: 2px;
    
}

p::selection {
    background-color: rgb(255, 166, 0);
    color: rgb(131, 11, 11);
}