body {
    background-color: lightblue;
    border: 20px solid #0b90e9;
    padding: 33px;

}
table {
    color: purple;
    background-color:gold;
}

li {
 color: purple;
 padding: 12;
}

.first-form {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}
h1:hover{
    color: peru;

}
table:hover{
    color: navy;
    background-color: lawngreen;
}
p {
    color:gold;
    color:blueviolet;
    color: tomato;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline blue;
    
}

title {
    font-size: 30px;
}
li {
    width: 200px;
    border: 2px solid rgb(42, 204, 69);
    background-color:plum;
}

li a{
    color: yellow;
    background-color: forestgreen;
  

}

form {
    color:chocolate;
    border:11px solid lightgoldenrodyellow;
}

h1 {
    text-align:left ;
    color: yellow;
   
}


    

