body {
    background-color: rgb(226, 214, 214);
    margin: 0;
}

nav {
    background-color: rgb(79, 238, 185);
    height: 60px;
    list-style-type: none;
    display: flex;
    justify-content: row;
    align-items: center;
    font-size: 25px;
    position: sticky;
    top: 0px;
}

nav .item-1 {
    padding: 0 0 0 110px;
    font-family: 'Roboto', sans-serif;
}

nav:hover {
    color: rgb(170, 116, 35);
    transition: 2s;
}

.img-1 {
    height: 420px;
    width: 1518px;
    filter: blur(5px);
}

.div-prg {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 12%;
    left: 30%;
    bottom: 30px;
}

.prg-1 {
    font-size: 50px;
    font-weight: 500;
}

.prg-2 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.prg-2:hover {
    color: rgb(12, 34, 3);
}

.div-btn-1 {
    position: absolute;
    top: 45%;
    left: 49%;
    bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.btn-1 {
    padding: 9px 11px 9px 11.px;
    background-color: rgb(219, 211, 208);
    border-radius: 5px;
}
a:link {
    text-decoration: none;
}

.div-imges {
    background-color: rgb(255, 255, 255);
}

.imges {
    width: 20%;
    height: 27%;
    border: 1px rgb(165, 162, 162) solid;
    border-radius: 3px;
    padding: 4px 4px;
    margin: 30px 30px;
}

