body {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(235, 235, 235);
    margin: 0;
}

nav {
    background-color: rgb(79, 238, 185);
    height: 60px;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: row;
    align-items: center;
    font-size: 25px;
    position: sticky;
    top: 0px;
}

nav .item-1 {
    padding: 0 0 0 110px;
}


.img-1 {
    height: 420px;
    width: 100%;
    filter: blur(6px);
}

.div-prg {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 12%;
    left: 30%;
    bottom: 30px;
}

.prg-1 {
    font-size: 50px;
    font-weight: 500;
}

.prg-2 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.prg-2:hover {
    color: rgb(12, 34, 3);
}

.div-btn-1 {
    position: absolute;
    top: 45%;
    left: 47%;
    bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.btn-1 {
    letter-spacing: 1px;
    background-color: rgb(255, 0, 65);
    width: 150px;
    height: 16%;
    border: none;
    border-radius: 4px;
}

a:link {
    text-decoration: none;
}

.div-imges {
    background-color: rgb(255, 255, 255);
}

.imges {
    width: 19%;
    height: 26%;
    border: 1px rgb(165, 162, 162) solid;
    border-radius: 3px;
    padding: 4px 4px;
    margin: 30px 30px;
}

.box-3 {
    font-family: 'Rubik', sans-serif;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px 0 ;
}

.card-blog {
    background-color: white;
    margin-left: 90px;
    border-radius: 20px;
    height: 110%;
    padding-top: 17px;
}

h3 {
    
    text-align: center;
    padding-top: 1px;
    font-size: x-large;
}

.card-img {
    border-radius: 90%;
    width: 38%;
    height: 39%;
}

.card-prg {
    width: 69%;
    margin: auto;
    padding-top: 20px;
}

.box-2 {
    background-color: rgb(20, 34, 33);
    width: auto;
    height: 70%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.box-2-prg {
    font-family: 'PT Sans', sans-serif;
    width: 43%;
    padding: 20px;
    height: 43%;
    color : rgb(207, 207, 207);
    border-radius: 5px;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.box-2-img {
    width: 30%;
}

.wolf {
    width: 90%;
    height: 60%;
    border: rgb(134, 130, 130) 3px solid;
    border-radius: 4px;
    padding: 0;
}

.box-4 {
    background-image: linear-gradient(to bottom right,#b0eff1, rgb(255, 133, 133));
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td  {
    background-image: linear-gradient(to bottom right,#92f1f1, rgb(231, 112, 178));
    padding: 10px;
    text-align: center;
}