html {
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box; /*read about this online*/
    margin: 0;
    padding: 0;
}

.continer-1 {
    background-image: url("https://www.archbishopofcanterbury.org/sites/abc/files/2020-01/Candle%20small.jpg");
    /* height: 2000px; */
    background-size: 100% auto;
    background-position: center;
    height: 143vh;
}

.img-2 {
    width: 100%;
    height: auto;
}

.top-logo {
    color: white;
    font-size: 20px;
    margin-right: 70px;
    padding-right: 40px;
    display: inline;
}

.nav-li {
    display: flex;
    flex-direction: row;
    width: 60%;
    float: right;
    margin-top: 57px;
}


.nav-li li {
    margin: auto;
    color: white;
    border-right: 3px solid white;
    padding-right: 30px;
}

.span{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin:0 0 40px 15px;
}

.far {
    margin:20px 0 0 30px;
}

.span-2 {
    font-size: 30px;
    font-weight: 10;
}

.box-1 {
    background-color: lightblue;
}