body {
    background-color: rgb(34, 7, 7);
    margin-bottom: 22px;
    font-family: 'Courgette', cursive;
    border: turquoise solid 2px;
    border-radius: 5px;
    
}
p {
    border-radius: 12px;
    padding: 10px 0px 10px 10px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
    color: royalblue;
}
h1 {
    text-align: center;
    margin-bottom: 3px;
    text-decoration: rgb(7, 21, 145) underline;
    font-size: 40px;
    color: rgb(252, 233, 63);
}
table {
    text-align: center;
    color: rgb(64, 5, 131);
    background-color: rgb(16, 134, 138);
    color: rgb(104, 13, 104);
    margin: auto;
    max-width: 50%;
    margin-bottom: 11px;
}
table:hover {
    background-color: black;
    color: blue;
}
h1:hover {
    color: orangered;
}
h2 {
    color: rgb(233, 142, 22);
}
h3 {
    margin: auto;
    max-width: 21%;
    color: rgb(178, 238, 14);
    margin-bottom: 6px;
}
table {
    width: 900px;
}
.item-2 {
    color: red;
}
p::selection {
    background-color: rgb(252, 233, 63);
}
hr {
    margin: 70px 0 70px 0;
}
ol {
    color: springgreen;
    margin: auto;
    max-width: 25%;
    border: teal solid 3px;
}
li  {
    border: royalblue solid 3px;
    padding: 7px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(216, 65, 6);
    /* color: rgb(204, 207, 0); */
    text-align: center;
    padding: 12px 0 10px 0;
}

