body {
  background-color: rgb(10, 238, 181);
  font-family: 'Courgette', cursive;
}
table {
  margin: auto;
  color:blue;
  border: solid 1px purple;
  max-width: 50%;
  margin-bottom: 50px;
}
h1 {
  color: gold;
}
td {
  border: solid 1px purple;
  padding: 5px;
}


