body {
  background-color: rgb(71, 221, 139);
  font-family: "roboto" sans-serif
}
table {
  margin: auto;
  color: red;
  border: solid 1px purple;
  max-width: 50%;
}
h1 {
  color: gold;
}
td {
  border: solid 1px purple;
  padding: 5px;
}
